{% extends 'base.html' %}
{% block content %}
	<div class="row">
		<div class="col">
			<a href="{% url 'student_home' %}"><img class="home_img img-fluid img-thumbnail float-start" src="https://img.freepik.com/free-vector/student-with-laptop-studying-online-course_74855-5293.jpg"></a>
			<a class="pull-right" href="{% url 'teacher_home' %}"><img class="home_img img-fluid img-thumbnail float-end" src="https://img.freepik.com/free-vector/teacher-standing-near-blackboard-holding-stick-isolated-flat-vector-illustration-cartoon-woman-character-near-chalkboard-pointing-alphabet_74855-8600.jpg"></a>
		</div>
	</div>
{% endblock %}